@import url('https://fonts.googleapis.com/css2? family = Montserrat: wght @ 100 & family = Roboto: wght @ 100 & display = swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
    background-color: #6aaaaa;
}
header{
    height: 200px;
}
h1{
    font-style: italic;
    margin-left: 45%;
    color: #365a5a;
    font-size: 49px;
}
.about{
    margin-top: 170px;
    margin-left: 460px;
    margin-right: 115px;
    color:#2b3a3a;
    font-weight:bolder;
}
p{
    font-size: 20px;
}
.img{
    width: 350px;
    height: 350px;
    margin-left: 35px;
}
.space{
    background-color: #6aaaaa;
    height: 60px;
}
h2{
    font-style: italic;
    margin-left: 7%;
    color: #274646;
    font-size: 36px;
    margin-top: 50px;
}
.curiosities{
    margin-top: 55px;
    margin-left: 5%;
    margin-right: 60%;
    color:#2b3a3a;
    font-weight:bolder;
    
}
.picture{
    width: 430px;
    height: 550px;
    margin-left: 400px;
    margin-top: 560px;
    position: absolute;
}
.footer{
    background-color: #6aaaaa;
    height: 60px;
}